<div class="container">

  <!-- <form id="cool-things-form" action="/cool_things" method="post" >
    <input type="text" placeholder="enter your thing" name="thing">
    <input type="submit" value="Submit">
  </form> -->

  <img src="img/loading.gif">
  <div class="box" id="square-1"></div>
  <div class="box" id="square-2"></div>
  <div class="box" id="square-3"></div>
  <div class="box" id="square-4"></div>
  <div class="box" id="square-5"></div>
  <div class="box" id="square-6"></div>
</div>
